.TextBlockTxtSeguridad {
    font-size: 13px !important  ;
  }
input#vCONTRASENIA:focus {
    box-shadow: none !important;
      border: 0px !important;
}
.TextBlockCancelar {
    font-family: sans-serif;
    font-size: 15px !important;
  }
  button.btn.btn-default:active {
    background-color: white;
    box-shadow: none;
    outline: none;
}
.LblTrebuchetMS {
    font-family: sans-serif !important;
    font-size: 15px !important;
    font-weight: 100 !important;
}

.btn-default:hover {
    color: white;
    background-color: #a8c03b;
    border-color: #a8c03b;
}
div#TABLECONTENT {
    border-top: 1px solid #ebebeb;
}
.panel-body {
    border: 1px solid #ddd !important;
    padding: 20px;
}
iframe#gxp0_ifrm {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    border-radius: 10px;
}
.Image100x100Linea {
    margin-left: -20PX;
    width: 102% !important  ;
}
.gx-popup-document::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}

.gx-popup-document::-webkit-scrollbar
{
  height: 6px;
  width: 6px;
  background-color: #F5F5F5;

}

.gx-popup-document::-webkit-scrollbar-thumb
{
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
  background-color: #168ac8;
}


.TableWhite {
  height:  80vh;
   margin-top: -171px;
}
.TableWhiteContrato {
    background-color: white;
}
.Button {
    border-top: 1px !important;
    min-width: 220px !important;
    background-color: #a8c03b !important;
    border-bottom-color: #a8c03b !important;
    border-left-color: #a8c03b !important;
    border-right-color: #a8c03b !important;
    border-top-color: #a8c03b !important;
    color: white !important;
    min-width: 133px !important;

  }
  .BtnDefault {
    min-width: 133px !important;
}
.BtnDefault {
    background-color: white;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-top-color: #ccc;
    color: black;
  }

.gx-responsive-popup.gx-popup-centered {
    left: 0% !important;
    top: 5% !important;
    width: 100% !important;
    background-color: transparent;
    text-align: center;
}

.TextBlockTitleWWP{
  font-size:   14px;
  white-space: break-spaces;
}
.PopupBorder{
  box-shadow:   none;
-webkit-box-shadow:none ;
}
.TableContainer {
  background-color: #e6e6e6;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}
.gx-responsive-popup{
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


html.history.csstransitions.flexbox.gx-popup-document {
   /* overflow: none !important;*/
}
.gx-popup-resize {
    display: none !important;
}

.gx-popup-document {
    /*overflow: hidden !important;*/
    width: auto !important;
}
.PopupHeader {
    display: none;
}

.form-horizontal {
    overflow-x: hidden;
}
.modal-backdrop.in{
  display: none !important;
}


div#TABLE4 {
    margin-top: -260px;
}
.TableRowHeaderFondo {
    position: relative !important;

  }
@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);

    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.ButtonInicioAzul:hover{
  color: white;
    background-color: #2d4d93 !important;
    border-color: white !important;
    background-color: #2d4d93!important;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
    font-size: 15px;
    color: white !important;
}

.btn-default:hover {
    color: white;
    background-color: #a8c03b;
    border-color: #a8c03b;
}
div#TABLECONTENT {
    border-top: 1px solid #ebebeb;
}
.panel-body {
    border: 1px solid #ddd !important;
    padding: 20px;
}
iframe#gxp0_ifrm {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    border-radius: 10px;
}
.Image100x100Linea {
    margin-left: -20PX;
    width: 102% !important  ;
}
.gx-popup-document::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}

.gx-popup-document::-webkit-scrollbar
{
  height: 6px;
  width: 6px;
  background-color: #F5F5F5;

}

.gx-popup-document::-webkit-scrollbar-thumb
{
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
  background-color: #168ac8;
}


.TableWhite {
  height:  80vh;
   margin-top: -171px;
}




.col-sm-9.gx-attribute {
    width: 100%;
}

.md-close {
    color: white !important;
    text-transform: capitalize !important;
    border-radius: 5px !important;
    box-shadow: 0 7px 10px -5px #7c7c7c !important;
    background-color: #a3bd31!important;
}



div#TABLE4 {
    margin-top: -260px;
}
.TableRowHeaderFondo {
    position: relative !important;
  }



.input-group{
    width: : 100% !important;
}

.btn-default:hover {
    color: white;
    background-color: #a8c03b;
    border-color: #a8c03b;
}
.form-horizontal {
    overflow-x: hidden;
}
.TextBlockOlvidoUsuario {
    font-size: 15px !important ;
  }

.md-close {
    color: white !important;
    text-transform: capitalize !important;
    border-radius: 5px !important;
    box-shadow: 0 7px 10px -5px #7c7c7c !important;
    background-color: #a3bd31!important;
}

.md-content h3 {
  font-family: "Poppins",sans-serif !important;
    font-size: 20px !important;
    color: white !important;
    /*background-color: #0f5eae !important;*/
    padding: 20px !important;
    border-bottom: 1px solid #e5e5e5 !important;
    background-image: url(../../Resources/MaskGroup.png);
    width: 100%;
    background-size: cover;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.form-horizontal {
        -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
     -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}
/*
.input-group-btn {
    width: 0 !important;
}*/
div#TABLE21 {
    text-align: center;
}
.ImagePWDF1 {
    width: 65px;
}


.lblRedsocial {
    font-size: 13px;
    color: #2d4d93;
    width: 100px;
}
.input-group-btn {
width: 10% !important;
}
input#vCONTRASENIA {
    border: 0px !important;
      z-index:  0;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
}
.gx-pwd-reveal-btn{
    z-index:  0;
}
.input-group{
  width:  100%;
}


input#vOTP {
      z-index: 0;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
}

div#TXTOLVIDOCONTRA {
    margin-left: 0px;
    font-size: 15px !important;
}

#TEXTBLOCKBTNTOKEN{
    font-size: 15px !important;
}

input#vOTP::Placeholder {
    color: #c1c1c1;
}

/*
.Form100x100H {
    overflow-x: hidden;
}
.TableRow100x23H {
    height: 13%;
    width: 100%;
}
.TableRow100x10H {
    margin-top: 18%;
    height: 10%;
    width: 100%;
    margin-left: -4%;
}
@media(max-width: 1199px){
  .TableCell35x100H{
    width: 100%;
  }

  .Popup100x100H, .Form100x100H .gx-popup.gx-popup-default {
    height: 70%;
    width: 101%;
    overflow: auto;
  }

  .Table100x100H{
    height: 102%;
  }

  .TableCell35x100HFondo{
    width: 90% !important;
    background-size: 100%;    
    -moz-background-size: 100%;  
    -o-background-size: 100%;   
    -webkit-background-size: 100%;  
    -khtml-background-size: 100%;  
  }

  .ImageConvertidor {
    padding-top: 50%;
  }

}

@media(max-width: 1024px){
  .TextBlockTituloTasaDolar{
    display: none;
  }

      .TableRow100x15HGris{
    display:none;
  }

    .TableRow100x5H2 {
    height: 7%;
}

.TableRow100x60H {
    height: 70%;
}
.Image45x100Logo {
  height: 90%;
  width: 60%;
}

.TableCell20x100H {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 23%;
}
.Image100x100Linea {
    position: absolute;
    top: 0;
    height: 100%;
    width: 90%;
}
.Image100 {
    width: 70%;
}

}

@media(max-width: 1112px){
  .TextBlockTituloTasaDolar{
    display: none;
  }

  .TableRow100x15HGris{
    display:none;
  }

.TableRow100x5H2 {
    height: 7%;
}

.TableRow100x60H {
    height: 70%;
}
.Image45x100Logo {
  height: 90%;
  width: 60%;
}

.TableCell20x100H {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 23%;
}
.Image100x100Linea {
    position: absolute;
    top: 0;
    height: 100%;
    width: 90%;
}

.Image100 {
    width: 70%;
}

}

@media(max-width: 767px){
  .Image80{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .TableRow100x15H{
    display:none;
  }

  .TableRow100x15HFondo{
    display:none;
  }

  .TableRow100x5H2{
    display:none;
  }

  .TableCell60x100H{
    width: 100%;
  }

  .TableRow5M{
    padding-right: 7%;
  }

  .TableRow100x60H{
    height: 100%;
  }

  .TableRow100x15HGris{
    display:none;
  }

  .Table100x100H{
    height: 100%;
  }

  .Image100{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .TextBlockTxtSeguridad{
    font-size: 12px;
  }
}

